<launch>
<!-- launch the FTS sensor -->
    <node name="rq_sensor"
        pkg="robotiq_ft_sensor"
        type="rq_sensor"
        output="screen"
    />

<!-- launch the transformer -->
    <node name="ft_transformer"
        pkg="robotiq_ft_sensor"
        type="ft_transformer"
        output="screen"
    />
        <!-- this are the defaults, works when on real robot -->
        <!-- args="fts_frame tool0_controller" -->

        <!-- if in simulation -->
        <!-- args="fts_frame burnisher_ee" -->
</launch>